{% extends "app/base.html" %} {% block title %}View Jobs{% endblock title %} 
{%block content %}

<h2>Available Jobs</h2>
{% if Jobs %}
<ul>
  {% for job in Jobs %}
  <li>
    <strong>{{ job.job_title }}</strong> at {{ job.company_name }} - {{ job.location }}
    <p>{{ job.job_description }}</p>
    {% comment %} <small>Posted by: {{ job.posted_by.username }}</small> {% endcomment %}
    <!-- Edit Button for this Job -->
        <a href="#">
            <button>Apply</button>
        </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No jobs available right now.</p>
{% endif %} 
{% endblock content %}
