{% extends "app/base.html" %}

    {% block title %}View Jobs{% endblock %}

    {% block content %}

        {% for job in Jobs %}
        <li>
        <strong>{{ job.job_title }}</strong><br />
        {{ job.company_name }} - {{ job.job_description}}<br />

        <!-- Edit Button for this Job -->
        <a href="{% url 'update_job' pk=job.pk %}">
            <button>Edit</button>
        </a>
        </li>
        <hr />
        {% empty %}
        <li>No jobs available.</li>
        {% endfor %}

    {% endblock content %}

    
</html>
